@* Typying the view to a model - strongly connecting it to a model *@
@* You can use the Reff -Model to get teh object that is passed from controller *@
@model FirstMVCApp.Models.Doctor

<h1>@Model.Name</h1>



